/.idea
.pytest_cache
__pycache__
.sipesc/
/docs
/to_assemble_code
/NumericalCases/Projects
/NumericalCases/ANSYS
/output
/data
/venv
.idea/

__init__.py

analyse_output.log
RunExample.py
*.md
*.docx
*.vsdx
*.unv
*.txt
*.dat
*.vtu
*.full
*.jpg
*.app_cache
*.com
*.ipm
*.log
*.msg
*.odb
*.prt
*.sta
*.7z
/.VSCodeCounter
/numerical example
